<h1>KelloggCoin Ledger</h1>

<!-- Step 1: List all transactions, starting with the ICO -->

<p><strong>List of transactions:</strong></p>
<%transactions = Transaction.all%>

<ul>
  <%for transaction in transactions%>
    <li>
      <% to_user = User.find_by("id" => transaction["to_user_id"])%>
      <% from_user = User.find_by("id" => transaction["from_user_id"])%>

      <%if from_user.nil? %>
      <%= "Initial coin offering: #{transaction["amount"]} KC to #{to_user["name"]}" %>
      <%else%>
      <%= "#{transaction["amount"]} KC to #{to_user["name"]} from #{from_user["name"]}"%>
      <%end%>
    </li>
   <%end%>
</ul>


<!-- Step 2: Calculate and display the balances -->

<!-- 
Expected balances:
Balance for Brian: 1348 KC
Balance for Ben: 2516 KC
Balance for Evan: 1164 KC
Balance for Anthony: 1456 KC
Balance for Krystina: 3516 KC 
-->

<p><strong>Account Balances:</strong></p>
<%transactions = Transaction.all%>
<%brian_balance=0%>
<%ben_balance=0%>
<%evan_balance=0%>
<%anthony_balance=0%>
<%krystina_balance=0%>


  <%for transaction in transactions%>
    <% to_user = User.find_by("id" => transaction["to_user_id"])%>
    <% from_user = User.find_by("id" => transaction["from_user_id"])%>
       
      
          <%if to_user["name"] == "Brian"%>
          <%brian_balance = brian_balance + transaction["amount"]%> 
          <%elsif%>
          <% from_user.present? && from_user["name"] == "Brian"%>
          <%brian_balance = brian_balance - transaction["amount"]%>
          <%end%>

           <%if to_user["name"] == "Ben"%>
          <%ben_balance = ben_balance + transaction["amount"]%> 
          <%elsif%>
          <% from_user.present? && from_user["name"] == "Ben"%> 
          <%ben_balance = ben_balance - transaction["amount"]%>
          <%end%>

          <%if to_user["name"] == "Evan"%>
          <%evan_balance = evan_balance + transaction["amount"]%> 
          <%elsif%>
          <% from_user.present? && from_user["name"] == "Evan"%>
          <%evan_balance = evan_balance - transaction["amount"]%>
          <%end%>

          <%if to_user["name"] == "Anthony"%>
          <%anthony_balance = anthony_balance + transaction["amount"]%> 
          <%elsif%>
          <% from_user.present? && from_user["name"] == "Anthony"%>
          <%anthony_balance = anthony_balance - transaction["amount"]%>
          <%end%>

          <%if to_user["name"] == "Krystina"%>
          <%krystina_balance = krystina_balance + transaction["amount"]%> 
          <%elsif%>
          <% from_user.present? && from_user["name"] == "Krystina"%>
          <%krystina_balance = krystina_balance - transaction["amount"]%>
          <%end%>
  <%end%>


  <p><%= "Balance for Brian: #{brian_balance} KC"%></p>
  <p><%= "Balance for Ben: #{ben_balance} KC"%></p>
  <p><%= "Balance for Evan: #{evan_balance} KC"%></p>
  <p><%= "Balance for Anthony: #{anthony_balance} KC"%></p>
  <p><%= "Balance for Krystina: #{krystina_balance} KC"%></p>
